DATABASE_URL="postgresql://<user>:<password>@localhost:5432/nexusdb?schema=public"
PAYME_API_URL_DEV="https://sandbox.payme.io/api/generate-sale"
PAYME_API_URL_PROD=""
PAYME_ID=""
PAYME_SALE_CALLBACK_URL=""
